@model FlightManagement.Models.Flight

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Xóa thông tin chuyến bay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.flightNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flightNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departureCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departureCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrivalCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aircraft.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aircraft.model)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-group">
    <div class="col-sm-12" style="padding: 5px">
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a class="btn btn-info" href="/Flights/Index">Quay lại</a>
    </div>
</div>
    }
</div>
