@model FlightManagement.Models.Ticket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ticketNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticketNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seatNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flight.flightNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight.flightNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger.firstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-group">
    <div class="col-sm-12" style="padding: 5px">
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a class="btn btn-info" href="/Ticket/Index">Quay lại</a>
    </div>
</div>
    }
</div>
